@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
.fonds{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
img{
  height: 100px;
  padding-left: 1000px;
  padding-top: 200px;
}
.container{
  position:absolute;
  top:40%;
  left:70%;
  color: black;
}
body {
  background-color: #f3f3f3;
  padding-top: 3em;
  font-family: Helvetica;
  font-size: 13px;
}

.page-wrap {
  padding: 2em;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
}

.skill-bar-container {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: whitesmoke;
    margin-bottom: 0.5em;
}    
.skill-bar {
        display: block;
        border-radius: 4px;
        height: 25px;
        background-color: skillColor#dcd7fa
          }

.level1 { width: 20%; 
  background-color: skill1
        }

.level2 { width: 40%; 
          background-color: skill2;
        }

.level3 { width: 60%; 
          background-color: skill3
        }

.level4 { width: 80%; 
          background-color: skill4
        }

.level5 { width: 100%; 
          background-color: skill5
        }

.skill-name {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #333;
        font-weight: 600;
    }
    .skill-percent {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #999;
    }

@keyframes swing {
  0%,
  100% {
    transform: rotate(-30deg);
  }
  20% {
    transform: scale(0.95);
  }
  50% {
    transform: rotate(30deg);
  }
  80% {
    transform: scale(0.95);
  }
}

#sweetlandia {
  animation: swing 2s infinite ease-in-out;
}

.campus {
  margin: 50px auto;
  text-align: center;
}